.heading
{
	text-align: center;
	font-family: Times New Roman;
	background-image: radial-gradient(white, #DFE2E4);
	font-size: 200%;
	line-height: 0.3;
	color: #250d0d;
	padding: 5px;
}
#small{
	font-size: 100%;
}

body{
	background-image: linear-gradient(#28093e, #250d0d);
	color: white;
}

.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #482258;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu li {
  float: left;
  border-right: 1px solid #28093e;
}

.menu li a{
  display: block;
  color: #e4c6be;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.a1, .a2, .a3, .a4){
  color: #e08c95;
}

.a1,.a2,.a3,.a4{
 color: #250d0d;
}

.button a{
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button1:hover, #button2:hover{
	opacity: 0.6;
}

.section{
	text-align: center;
	color: white;
	padding: 10px
}

.rev h3{
  text-align: center;
  color: #250d0d;
  background-color: seashell;
  border-radius: 8px;
  display: table; /* keep the background color wrapped tight */
  margin: 0px auto 0px auto; /* keep the table centered */
  padding:5px;
}

#button1{
	background-color: #dfb06c;
	color: #401C0A
}

#About, .a1{
	background-color: #5ab99b;
}

#Synopsis, .a2{
 background-color: #e1767d;
}

#button2, #Cast, .a3{
 background-color: #9fa7d5;
 color: #071E29;
}

#Reviews, .a4 {
	background-color: #403db6;
}

.chars dt h2{
  color: #250d0d;
  border-radius: 8px;
  display: table; /* keep the background color wrapped tight */
  padding:5px;
}

#dumb {
  background-color: #55ba93;
}
#soup {
  background-color: #e5a3c4;
}
#drowsy {
  background-color: #7fffca;
}
#fragile {
  background-color: #8cb2d8;
}
#BARRIER {
  background-color: #feb75e;
}
#parapet {
  background-color: #74bfe5;
}
#goldbricker {
  background-color: #c3322f;
}
#sundial {
  background-color: #f8ca2b;
}
